<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="TerritoryManager">
<head>
    <title></title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<!--<base href="territory.rytersoft.com" />-->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="img/favicon.ico" />
	<link href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.css" rel="stylesheet" type="text/css"/>
	<link href="http://fonts.googleapis.com/css?family=Lato:Lato:300,400,700,900,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
	<!--<link href="css/bootstrap-responsive.css" rel="stylesheet" />
	<link href="css/bootstrap.css" rel="stylesheet" />-->
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
	<!--[if IE 7]>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css">
	<![endif]-->
	<link rel="stylesheet/less" type="text/css" href="css/editor.css" />
	<link href="css/jquery-overrides.css" rel="stylesheet" />
	<!--<link rel="stylesheet/less" type="text/css" href="css/variables.less" />-->
	<!--<link rel="stylesheet/less" type="text/css" href="css/editor.less" />-->
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	<script src="http://code.angularjs.org/1.1.5/angular.js"></script>
    <script src="http://code.angularjs.org/1.1.5/angular-cookies.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=geometry,drawing"></script>
    <script src="lib/enquire.min.js"></script>
    <script src="lib/polygon-ext.js"></script>
	<script src="lib/richmarker-compiled.js"></script>
    <script src="lib/maplabel-compiled.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.3.0.js"></script>	
	<script src="lib/BpTspSolver.js"></script>
    <script src="lib/webtoolkit-base64.js"></script>
    <script src="scripts/less.min.js"></script>
	<script src="scripts/globals.js"></script>
	<script src="scripts/ui-settings.js"></script>
	<script src="scripts/models/User.js"></script>
	<script src="scripts/models/Congregation.js"></script>
    <script src="scripts/models/Householder.js"></script>
    <script src="scripts/models/SummaryItem.js"></script>
    <script src="scripts/models/Territory.js"></script>
	<script src="scripts/models/State.js"></script>
	<script src="scripts/angular/app.js"></script>
    <script src="scripts/angular/services.js"></script>
    <script src="scripts/angular/controllers.js"></script>
	<script src="scripts/angular/filters.js"></script>
	<script src="scripts/angular/directives.js"></script>
    <script src="lib/http-auth-interceptor.js"></script>
    <!--<script src="scripts/controllers/main-ctrl.js"></script>
    <script src="scripts/controllers/accounts-ctrl.js"></script>
    <script src="scripts/controllers/householder-detail-ctrl.js"></script>
    <script src="scripts/controllers/householders-list-ctrl.js"></script>
    <script src="scripts/controllers/map-ctrl.js"></script>
    <script src="scripts/controllers/reports-ctrl.js"></script>
    <script src="scripts/controllers/territory-detail-ctrl.js"></script>-->
</head>
<body ng-controller="MainCtrl"
    ng-alt-t="showTerritories ? hideTerritoryMarkers() : showTerritoryMarkers()"
    ng-alt-h="showHouseholders ? hideHouseholderMarkers() : showHouseholderMarkers()"
    ng-alt-s="surveyTerritoriesShown ? hideSurveyTerritories() : showSurveyTerritories()"
    >
	<header>
		<div class="main-header">
			<a class="app-name" href="/">Territory Manager</a>
			<a class="settings icon-cogs pull-right" ng-show="user.LoggedIn" href="settings"></a>
			<ul class="auth-menu nav">
				<li class="dropdown pull-right">
					<a class="login-menu dropdown-toggle pull-right" data-toggle="dropdown"><span ng-class="{'logged-in': user.LoggedIn, 'logged-out': !user.LoggedIn}">{{loginText}}</span><span class="login-user" ng-show="user.LoggedIn">{{user.UserName}}</span></a>
					<div class="dropdown-menu arrow-right auth-dropdown">
						<form ng-show="!user.LoggedIn">						
							<input type="text" class="auth-username input-block" placeholder="Username" ng-model="user.UserName" data-role="none" />
							<input type="password" class="auth-password input-block" placeholder="Password" ng-model="user.Password" data-role="none" />
							<a data-role="none" class="login btn btn-primary btn-block" ng-click="login()" href="#">Log in</a>
							<a data-role="none" class="register btn btn-block" href="register">Register</a>
						</form>
						<form ng-show="user.LoggedIn">						
							<a data-role="none" class="log-out btn btn-primary btn-block" ng-click="logout()" href="#">Log out</a>
						</form>
					</div>
				</li>
			</ul>
			<span class="login-msg label label-{{message.type}} pull-right" ng-repeat="message in loginMessages" ng-show="loginMessages" ng-click="closeLoginMessage(0)">{{message.text}}</span>
		</div>
		<!--<div class="mobile-header" data-role="header">
			<h1>Territory Manager</h1>
			<a href="/" class="sign-in ui-btn-right">Log in</a>
		</div>-->

	</header>
	<div class="progress progress-warning">
		<div class="bar"></div>
	</div>	
    <div class="main">
	    <div class="main-container row-fluid">	
		<div class="left-container span8">
			<div class="menu">
				<ul>
					<li class="dropdown" ng-show="user.LoggedIn && user.Status != 'Pending'">
						<a class="dropdown-toggle" data-toggle="dropdown">Reports</a>
						<ul class="dropdown-menu">
							<li><a href="printout.html?terrId={{territory.Id}}" target="_blank"><i class="icon-print"></i>Print Territory</a></li>
                            <li ng-show="selectedTerritories.length>0"><a href="printout.html?terrId={{selectedTerritories.join(',')}}" target="_blank" ng-click="printMultiple()"><i class="icon-copy"></i>Print Selected Territories</a></li>
							<li class="divider"></li>
							<li><a href="/summary"><i class="icon-table"></i> Summary</a></li>
							<li class="menu-do-not-call"><a href="/dnc"><span class="icon-stack"><i class="icon-briefcase"></i><i class="icon-ban-circle icon-stack-base"></i></span>Do Not Calls</a></li>
						</ul>
					</li>
					<li class="dropdown" ng-show="user.LoggedIn && user.Status != 'Pending'">
						<a class="menu-map-options dropdown-toggle" data-toggle="dropdown-menu-map">Map Options</a>
						<ul class="dropdown-menu">
                           <li ng-show="user.LoggedIn && user.Status != 'Pending' && borderEditMode==0 && (territory.Borders == '' || territory.Borders == null) && territory.TerritoryType=='SURVEY-WALK'">
								<a ng-click="drawSurveyTerritory(true, territory.Id)">Draw Borders</a>
							</li>
                            <li ng-show="user.LoggedIn && user.Status != 'Pending' && borderEditMode==0 && territory.Borders != '' && territory.Borders != null && territory.TerritoryType=='SURVEY-WALK'">
								<a ng-click="editBorders(territory.Id)">Edit Borders</a>
							</li>
                            <li ng-show="user.LoggedIn && user.Status != 'Pending' && territory.Borders != '' && territory.Borders != null && territory.TerritoryType=='SURVEY-WALK'">
								<a ng-click="removeBorders(territory.Id)">Remove Borders</a>
							</li>
                            <li class="divider" ng-show="user.LoggedIn && user.Status != 'Pending' && territory.TerritoryType=='SURVEY-WALK'"></li>
							<li ng-show="user.LoggedIn && user.Status != 'Pending'">
                                <a ng-click="showTerritoryMarkers()" ng-hide="showTerritories">Show Territories <span class="label label-info">ALT-T</span></a>
								<a ng-click="hideTerritoryMarkers()" ng-hide="!showTerritories">Hide Territories <span class="label label-info">ALT-T</span></a>
							</li>
                            <li ng-show="user.LoggedIn && user.Status != 'Pending'">
                                <a ng-click="showSurveyTerritories()" ng-hide="surveyTerritoriesShown">Show Survey Territories<span class="label label-info">ALT-S</span></a>
								<a ng-click="hideSurveyTerritories()" ng-hide="!surveyTerritoriesShown">Hide Survey Territories<span class="label label-info">ALT-S</span></a>
							</li>
							<li ng-show="user.LoggedIn && user.Status != 'Pending'">
                                <a ng-click="showHouseholderMarkers(true)" ng-hide="showHouseholders">Show Householders <span class="label label-info">ALT-H</span></a>
								<a ng-click="hideHouseholderMarkers()" ng-hide="!showHouseholders">Hide Householders <span class="label label-info">ALT-H</span></a>
							</li>
							<li class="divider" ng-show="user.LoggedIn && user.Status != 'Pending' && territory.TerritoryType!='SURVEY-WALK'"></li>
							<!--<li class="auto-render" ng-click="autoRender = !autoRender"><i ng-class="{'icon-check-empty':!autoRender, 'icon-check': autoRender}"></i><a>Auto-Render</a></li>-->
							<!--<li class="refresh-map" ng-click="initMap()"><a>Refresh Map</a></li>-->
							<li class="dropdown-submenu" ng-hide="territory.TerritoryType=='SURVEY-WALK'">
                                <a>Optimization</a>
                                <ul class="dropdown-menu menu-optimize">
                                    <li><a class="optimize" ng-click="optimize(false)"><i class="icon-road"></i>Optimize</a></li>
                                    <li><a class="optimize" ng-click="optimize(true)"><i class="icon-exchange"></i>Optimize (Roundtrip)</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Starting Address:</li>
                                    <li><input type="text" class="change-start" ng-model="startingAddress" placeholder="{{congregation.Address}}" data-role="none" /></li>
                                </ul>
							</li>

						</ul>
					</li>
				</ul>
				<div class="right-menu">
					<!--<alert class="main-message truncate" ng-repeat="message in messages" type="message.type" close="closeMessage($index)">{{message.text}}</alert>-->
					<span class="refresh btn icon-refresh" title="refresh map" ng-click="refreshMap()" ng-class="{'icon-spin': loading || (progress<100 && progress>0)}"></span>
				    <div class="menu-territories" ng-show="user.LoggedIn && user.Status != 'Pending'" ng-mouseover="isTerritoryListCollapsed = false" ng-mouseleave="isTerritoryListCollapsed=true">
					    <a href="/editterritory/{{territory.Id}}"><span class="menu-current-territory" title="edit name">{{territory.TerritoryName}}</span></a>
					    <span class="territory-dropdown" ng-click="isTerritoryListCollapsed = !isTerritoryListCollapsed">
						    <span class="territories-label">Territories</span>
						    <span ng-class="{'icon-arrow-up':!isTerritoryListCollapsed, 'icon-arrow-down':isTerritoryListCollapsed}"></span>
					    </span>
				    </div>
                </div>
			</div>
			<div class="territories-pane" collapse="isTerritoryListCollapsed || !user.LoggedIn || user.Status == 'Pending'" ng-mouseover="isTerritoryListCollapsed = false" ng-mouseleave="isTerritoryListCollapsed=true">
				<ul>
                    <li><input type="checkbox" class="selected-territory" ng-change="checkAll()" ng-model="allChecked"/><span ng-click="allChecked=!allChecked;checkAll()">Select for printing</span></li>
					<li ng-repeat="t in territories" data-id="{{t.Id}}">
                        <input type="checkbox" class="selected-territory" ng-click="checkOne($event, t.Id)" ng-model="t.Selected" />
                        <a href="/{{t.Id}}">{{t.TerritoryName}}</a>
					</li>
				</ul>
				<a class="add-territory btn btn-warning" href="addterritory"><i class="icon-plus icon-white"></i> New Territory</a>
			</div>
			<div id="map-canvas" class="map-canvas" check-user></div>           
			<div id="directions"></div>
		</div>
		<div class="householders-pane span4" ng-view></div>
	</div>
    </div>
	<footer>
        <alert class="main-message" ng-repeat="message in messages" type="message.type" close="closeMessage($index)">{{message.text}}</alert>
        <a class="settings icon-cogs pull-right" ng-show="user.LoggedIn" href="settings"></a>
	</footer>
</body>
</html>
